/* General link styles */
a {
  color: black; 
  text-decoration: none; 
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
  font-size: 1.9em;
  font-weight: 700;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-family: 'Poppins', sans-serif; /* Secondary font for nav items */
  font-weight: 400;
  font-size: 1em;
  transition: color 0.3s ease;
  outline: none; 
}

header nav ul li a:hover {
  color: #000000; /* Golden color on hover */
}

@media (max-width: 768px) {
  header {
      flex-direction: column;
      text-align: center;
  }

  header nav ul {
      flex-direction: column;
      gap: 10px;
  }
}

.home-link {
  padding: 8px 15px; /* Add padding to create a box */
  border: 2px solid #f5f5f5; /* Border color */
  border-radius: 5px; /* Rounded corners for a soft look */
  background-color: #797979; /* Background color of the box */
  color: #f5f5f5; /* Text color */
  text-decoration: none; /* Remove underline */
  font-family: 'Poppins', sans-serif; /* Font style */
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  outline: none; 
}

.home-link:hover {
  background-color: #f5f5f5; /* Background color on hover */
  color: #5b5b5b;
  outline: none; 
}


.about-section {
  margin-top: 80px;
  text-align: center;
  padding: 20px;
  outline: none; 
}

a:hover {
  color: gray; 
  text-decoration: underline; 
}

.profile-cards {
  display: flex;
  justify-content: space-around;
  gap: 40px; 
  flex-wrap: wrap;
  padding: 20px; 
}

.profile-card {
  background-color: white;
  border-radius: 12px; 
  padding: 30px; 
  width: 350px;  
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;  
  align-items: center;  
  justify-content: space-between; 
}

.profile-card:hover {
  transform: translateY(-10px); 
}

.profile-img {
  width: 150px;  
  height: 150px; 
  object-fit: cover; 
  border-radius: 50%; 
  margin-bottom: 15px;
  transition: border-radius 0.3s ease;
}

.profile-img:hover {
  border-radius: 10%; 
}

h2 {
  font-size: 1.8em; 
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 1.1em; 
  color: #555;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  color: #555;
}

ul li {
  margin-bottom: 5px;
}
